@import "./tabs";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100vh;
    background-color: map-get($color, background--light);
    color: map-get($color, text--light);
    font-size: 1.2rem;
    padding: 30px 40px;
    font-family: comic sans;
}

.selected_game, .action_buttons {
    width: 45%;
}

.selected_game {
    font-size: 2rem;

    select, .option {
        border: none;
        font-size: 2rem;
        background-color: map-get($color, background--light);
        color: map-get($color, text--light);
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';

        &:hover {
            cursor: pointer;
        }
    }

    .refresh{
        display: inline-block;
        margin-left: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.action_buttons {
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    button {
        font-size: 2rem;
        text-transform: uppercase;
        border: none;
        height: 60px;
        color: map-get($color, text--light);

        &:hover {
            cursor: pointer;
        }
    }
    
    .button__reset {
        width: 35%;
        background-color: map-get($color, secondary);
    }

    .button__deploy {
        width: 55%;
        background-color: map-get($color, primary);
    }
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    margin-top: 2rem;
}

.files,
.code_fills_container {
    width: 45%;
}

.files {
    height: 100%;
}

.code_fills_container {
    background-color: map-get($color, background--dark);
    height: 95%;
    margin-top: 2rem;
    border: 1px solid #ffffff;
    padding: 2rem;
}

.code_fills {
    height: 100%;

    li {
        margin: 0 0 1rem 0;
    }
}

.title_code_fill {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1rem 0;
}

