.code_fill .code {
    height: 5rem;
    border: 2px solid map-get($color, text--light);
    background-color: map-get($color, primary);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;

    &:hover {
        cursor: pointer;
    }

    &.selected {
        // border-color: map-get($color, secondary);
        background-color: map-get($color, secondary);
        color: map-get($color, text--dark);
    }
}



