@font-face {
  font-family: "vag";
  src: url("//db.onlinewebfonts.com/t/abf6859ba814669535dcaa8af2c3551d.eot"),
   url("//db.onlinewebfonts.com/t/abf6859ba814669535dcaa8af2c3551d.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/abf6859ba814669535dcaa8af2c3551d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/abf6859ba814669535dcaa8af2c3551d.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/abf6859ba814669535dcaa8af2c3551d.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/abf6859ba814669535dcaa8af2c3551d.svg#VAGRoundedLTCYRW10-Black") format("svg");
}

@font-face {
    font-family: "Code New Roman";
    src: url("~@/assets/fonts/code_new_roman/webfont/Code New Roman.woff") format("woff");
}


